html{
    font-size: calc(1em + 1vw);
}

body{
    font-family: 'Bree Serif', serif;
    font-size:16px;
    margin:0;
    background-color:#fff;
}

.grid-container {
    display:grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    padding:1rem;
}

header,main,footer{
    padding:1rem;
}

header{
    grid-area:header;
}

main{
    grid-area:main;
}

.portfolio3{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}

.services{
    justify-content:right;
    text-align:right;
}

.goldaboutbox{
    display:block;
    height:300px;
    width:692px;
    background-color:#e6bd43;
    text-align:center;
    padding:1rem;
}

.borderbox{
    display:flex;
    height:300px;
    width:692px;
    background-color:#e6bd43;
    text-align:center;
    padding:1rem;
    margin:0;
}

.greybox{
    display:block;
    height:300px;
    width:692px;
    background-color:lightgrey;
    text-align:center;
    padding:1rem;
}

footer{
    grid-area:footer;
}

footer img{
    display:block;
    justify-content:left;
    align-items:stretch;
}

.blackbox{
    display:block;
    height:146px;
    width:840px;
    background-color:#252525;
    text-align:center;
    padding:1rem;
}

@media only screen and (min-width:701px) and (max-width:900px) {
    #grid-container {
        display:grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }
}