html{
    font-size: calc(1em + 1w);
}

body{
    font-family: 'Bree Serif', serif;
    margin:0;
    background-color:#fff;
}

#grid container {
    display:grid;
    grid-template-areas: "header" "main" "footer";
    text-align:center;
    justify-content:center;
}

header{
display:grid;
grid-template-columns: 1fr;
}

main{
    display:grid;
    grid-template-columns: 1fr;
}

.flex-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.flex-section article img {
    max-width:692px;
    min-width:200px;
    margin:11px;
}

#flex-item1{
    display:flex;
    flex-wrap:wrap;
}

#flex-item2{
    display:flex;
    flex-wrap:wrap;
}

.section-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.section-flex article img{
    max-width:692px;
    min-width:200px;
    margin:11px;
}

#flex-item3{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}

.flexflex-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.flexflex-section article img{
    max-width:692px;
    min-width:200px;
    margin:11px;
}

#flex-item4{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}

footer{
    display:grid;
    grid-template-columns: 1fr;
}

@media only screen and (max-width:1600px) and (min-width:575px) {
    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer"
    }
}