*{
    box-sizing: border-box;
}

body{
    font-family: 'Bree Serif', serif;
    margin:0 auto;
    font-size:16px;
    background-color:#fff;
}

#grid-container {
    display:grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

header{
    display:grid;
    grid-area:header;
}

header nav{
    justify-content:right;
    text-align:right;
    padding:25px;
}

header nav a{
    color:#000;
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
}

header img{
    justify-content:left;
    text-align:left;
}

main {
    display:grid;
    grid-area:main;
    justify-content:center;
    text-align:center;
}

main section article{
    max-width:600px;
    min-width:100px;
    width:100%;
    margin:0 auto;
}

.read-more-about-us2:hover{
    background-color:#000;
    color:#e6bd43;
}

.read-more-about-us2{
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    color:#000;
    background-color:#e6bd43;
    padding:8px;
    margin:0 auto;
}

.read-more-about-us3{
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    color:#000;
    background-color:#e6bd43;
    border:solid 3px black;
    padding:8px;
    margin:0 auto;
}

.read-more-about-us3:hover{
    background-color:#000;
    color:#e6bd43;
}

.portfolio3{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    background-color:#fff;
}

.portfolio4{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    background-color:#e6bd43;
}

.portfolio4 img{
    width:175px;
    height:175px;
}

.portfolio6{
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    background-color:#e6bd43;
    margin:0 auto;
    padding:10px;
    width:fit-content;
}

.portfolio6 img{
    width:400px;
    height:325px;
    margin:0 auto;
    width:fit-content;
}

.greybox{
    display:block;
    background-color:#252525;
    padding:0 auto;
    margin:0 auto;
    max-width:1260px;
    max-height:450px;
    text-align:center;
}

.grey{
    display:block;
    background-color:lightgrey;
    padding:85px;
    margin:0 auto;
    max-width:1260px;
    max-height:700px;
    text-align:center;
}

.whiteaboutbox{
    box-sizing: border-box;
    height:850px;
    text-align:center;
    background-image:url(https://placehold.co/1000x1000/ffffff/252525);
    border-spacing: initial;
    border-image-source:url(https://placehold.co/1000x1000/252525/ffffff);
    border-image-width:45px;
    border-image-slice:1%;
    border-radius:initial;
    width:fit-content;
    height:fit-content;
    padding:65px;
    margin:0 auto;
}

footer{
    display:grid;
    grid-area:footer;
}

footer img{
    display:inline-block;
    width:65px;
    height:65px;
    background-color:#fff;
    margin:50px;
}

#footerikons{
    display:block;
    justify-content:left;
    align-items:stretch;
}

.blackbox{
    display:block;
    background-color:#252525;
    margin:0 auto;
    text-align:center;
    max-width:1260px;
    height:146px;
}

.logo{
    justify-content:left;
}

#headeraside:before{
    content: " ";
    position:absolute;
    display:block;
    width:100%;
    height:5px;
    bottom:0;
    right:0;
    background-color:#e6bd43;
}

#headeraside:hover::before{
    content: " ";
    position:absolute;
    display:block;
    width:100%;
    height:5px;
    bottom:0;
    right:0;
    background-color:#e6bd43;
    }
    
    #email{
        width:170px;
        height:42px;
    }

    .services{
        display:flex;
        flex-wrap:wrap;
        align-items:stretch;
        margin:0 auto;
        padding:0 auto;
    }

    .services img{
        justify-content:center;
        width:100px;
        height:100px;
    }

    .content{
        position:absolute;
        bottom:0;
        color:#000;
        width:50%;
    }

@media only screen and (min-width:701px) and (max-width:900px) {
    .grid-container {
        display:grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }
    }

    main section{
        overflow:hidden;
        max-width:1260px;
        width:100%;
        margin:0 auto;
    }

    main article{
        float:center;
        margin:10px;
    }